
{% assign profile=site.data.introduce.profile %}
{% assign pages_list = site.pages %}
<nav class="sidebar">
  <div class="title">
    <img class="profile" src="/assets/img/profile.jpg" alt="profile"/>
    <h1 class="main-title"><a href="/">PKCH's Portfolio</a></h1>
  </div>
  <div class="menu">
    <ul class="categories">
        {% for node in pages_list %}
          {% if node.layout == "category" %}
            <li class="category">
              <a class="{% if page.category == node.category %} active {% endif %}" href="{{site.baseurl}}{{node.url}}">{{node.title}}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</nav>
