
{% assign profile=site.data.introduce.profile %}
{% assign pages_list = site.pages %}
<nav class="sidebar">
  <div class="profile">
    <a href="/"><img src={{profile.img.url}} /></a>
    <h1 class="profile--name">{{profile.ko.name}}</h1>
    <p class="profile--intro">
      {{profile.ko.description}}
    </p>
  </div>
  <div class="menu">
    <h3><i class="fas fa-list"></i> Catgory</h3>
    <ul class="categories">
        {% for node in pages_list %}
          {% if node.layout == "category" %}
            <li class="category
            {% if page.url == node.url %} active {% endif %}">
              <a href="{{site.baseurl}}{{node.url}}">{{node.title}}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
  <div class="contact">
    <h3><i class="fas fa-address-card"></i> Contact</h3>
    <ul class="social">
      {% for social in site.data.social %}
        <li class="icon">
          <a href="{{social.link}}" target="_blank">
            <i class="fab fa-{{social.name}}"></i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
