<ul class="timeline">
    <li>
        <div class="up">
            <span class="footprint">컴퓨터공학과 입문</span>
        </div>
        <div class="bottom bottom--red">
            <span class="date">2016.09.01</span>
        </div>
    </li>
    <li>
        <div class="up">
            <span class="footprint">개발자 진로 결정</span>
        </div>
        <div class="bottom bottom--red">
            <span class="date">2018.01.02</span>
        </div>
    </li>
    <li>
        <div class="up">
            <span class="footprint">멋쟁이사자처럼</span>
        </div>
        <div class="bottom bottom--red">
            <span class="date">2018.03.16</span>
        </div>
    </li>
</ul>
<div id="details" style="display: none; border: 1px solid #000">
    Hello World!
</div>
<ul class="timeline">
    <li>
        <div class="up">
            <span class="footprint">정보처리기사 취득</span>
        </div>
        <div class="bottom bottom--yellow">
            <span class="date">2018.05.25</span>
        </div>
    </li>
    <li>
        <div class="up">
            <span class="footprint">첫 해커톤!</span>
        </div>
        <div class="bottom bottom--yellow">
            <span class="date">2018.06.08</span>
        </div>
    </li>
    <li>
        <div class="up">
            <span class="footprint">첫 기술 면접!</span>
        </div>
        <div class="bottom bottom--yellow">
            <span class="date">2018.06.29</span>
        </div>
    </li>
</ul>
<ul class="timeline">
    <li>
        <div class="up">
            <span class="footprint">다빈치톤 우수상</span>
        </div>
        <div class="bottom bottom--green">
            <span class="date">2018.11.03</span>
        </div>
    </li>
    <li>
        <div class="up">
            <span class="footprint">SSAFY 입학</span>
        </div>
        <div class="bottom bottom--green">
            <span class="date">2018.12.10</span>
        </div>
    </li>
    <li>
        <div class="up">
            <span class="footprint">대학 졸업</span>
        </div>
        <div class="bottom bottom--green">
            <span class="date">2019.02.22</span>
        </div>
    </li>
</ul>

<!-- <script>
    const footprints = document.getElementsByClassName('bottom');
    
    for(let footprint of footprints){
        footprint.addEventListener('mouseover', function() {
            var details = document.getElementById('details');
            details.style.display = "block";
        });

        footprint.addEventListener('mouseout', function() {
            var details = document.getElementById('details');
            details.style.display = "none";
        });
    }
</script> -->