---
---
@import "scss/sidebar";
@import "scss/category";
@import "scss/post";
@import "scss/profile";
@import url("scss/pygments-css/autumn.css");

* {
  font-family: 'Do Hyeon', sans-serif;
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.active{
  color: #00f;
}

.wrapper{
  display: flex;
  min-height: 100%;

  .container{
    width: 100%;
    padding: 0 50px;
    margin-left: 215px;
    .main__wrapper{
      .intro-imgs{
        display: flex;
        justify-content: center;
        height: 60%;
        > img{
          display: inline-block;
          position: relative;
          width: 300px;
          height: 300px;
          top: 100px;
          left: 0;
          z-index: 3;
          box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        }
      }

      .intro-imgs:before{
        display: inline-block;
        position: relative;
        content: "";
        background-image: url('../img/presentation.jpg');
        background-size: 300px 300px;
        width: 300px;
        height: 300px;
        top: 75px;
        left: 0;
        z-index: 2;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transform: rotate(-5deg);
      }

      .intro-imgs:after{
        display: inline-block;
        position: relative;
        content: "";
        background-image: url('../img/social-impact-hackerthon-prize.jpg');
        background-size: 300px 300px;
        width: 300px;
        height: 300px;
        top: 75px;
        left: 0;
        z-index: 4;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transform: rotate(3deg);
      }

      .welcome {
        position: relative;
        text-align: center;
        top: 200px;
      }

      .notice{
        float: right;
        color: #696969;
      }
    }
  }
}
