@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&subset=korean');
@import "scss/sidebar";
@import "scss/category";
@import "scss/post";
@import "scss/profile";
@import "scss/timeline";
@import url("scss/autumn.css");

* {
  font-family: 'Do Hyeon', sans-serif;
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.active{
  color: #00f;
}

.wrapper{
  display: flex;
  min-height: 100%;

  .container{
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 100px;

    .main__wrapper{
      display: flex;
      margin-top: 100px;
      justify-content: center;
      flex-wrap: wrap;
      .summary{
        margin-left: 20px;
      }
      .sub-title{
        display: block;
        width: 200px;
        height: 60px;
        margin: 0;
        border-top: 7px double #fff;
        font-size: 40px;
        background: #000;
        color: #fff; 
        text-align: center;
      }

      .summary-words{
        font-size: 20px;
        width: 400px;
        .word-em {
          display: block;
          text-align: center;
          color: #a9a9a9;
          font-size: 35px;
          font-style: italic;
          font-weight: bold;
        }
        .word-link {
          color: #00f;
        }
        
      }

      .summary-words--center{
        text-align: center;
      }

      .icons{
        width: 400px;
        margin-top: 20px;
        padding: 0;
        font-size: 25px;
        .icon {
          margin: 5px 0;
        }
      }
    }
  }
}
