---
layout: default
---
<div class="intro-img">
  <h1><span>PKCH's</span>Portfolio</h1>
</div>
<div class="footprints">
  <h1 class="title title--center">My dev-footprints</h1>
  <div class="footprint">
    <img src="/assets/img/timeline/scsc.png">
    <dl class="details">
      <dt>
        <span class="times">2016. 09</span>
        SCSC / 컴퓨터공학과 부전공
      </dt>
      <dd>
        농업경제학과가 주전공이었던 제가 4차산업혁명과 함께 IT에 관심이 생겨
        삼성과 충남대 컴퓨터공학과에서 시행하는 비전공자 SW 역량 교육 과정에 참여하여 이수했습니다.
      </dd>
    </dl>
  </div>
  <div class="footprint">
    <img src="/assets/img/timeline/web.png">
    <dl class="details">
      <dt>
        <span class="times">2018. 01</span>
        개발자 진로 결정
      </dt>
      <dd>
        이전에는 주전공인 농업경제학과에 맞춰 금융/공기업을 목표로 취업을 준비하였습니다.
        다만, 컴퓨터공학에 흥미를 느끼고 개발과 프로그래밍에 재미를 느끼고 개발자라는 직업에 큰 메리트를 느꼈습니다.
        많은 IT 분야 중 많은 사람들이 접근할 수 있고 아이디어를 자유롭게 구현할 수 있는 장인 웹에 큰 관심을 갖게 되었습니다.
        이에 웹 백엔드 개발자를 목표로 진로를 결정하고 학습을 시작하였습니다.
      </dd>
    </dl>
  </div>
  <div class="footprint">
    <img src="/assets/img/timeline/likelion.png">
    <dl class="details">
      <dt>
        <span class="times">2018. 03</span>
        멋쟁이사자처럼 가입
      </dt>
      <dd>
        전국 단위의 비전공자 웹 개발 연합 동아리입니다.
        웹에 관심있었기에 같이 공부할 친구도 찾고 각종 정보를 얻고자 신청하였고 2018년 1년동안 활동하였습니다.
        멋쟁이사자처럼 덕분에 웹 개발 공부를 좀 더 체계적으로 할 수 있었으며 해커톤을 통해
        컴퓨터공학으로 공부한 지식을 적용해 볼 수 있었습니다.
        여러모로 제가 개발자로 성장할 수 있는 밑거름을 준 동아리였습니다.
      </dd>
    </dl>
  </div>
  <div class="footprint">
    <img src="/assets/img/timeline/hackathon.png">
    <dl class="details">
      <dt>
        <span class="times">2018. 06</span>
        첫 해커톤 참가
      </dt>
      <dd>
        배운 지식을 활용하기 위해 해커톤에 참가하고자 했습니다.
        이때 (재)강원창조경제혁신센터에서 주관하는 소셜임팩트해커톤에 참가하였습니다.
        첫 해커톤임에도 불구하고 인기상을 수상하여 저에게 자신감을 북돋아준 대회였습니다.
      </dd>
    </dl>
  </div>
  <div class="footprint">
    <img src="/assets/img/timeline/davinch.jpg">
    <dl class="details">
      <dt>
        <span class="times">2018. 11</span>
        다빈치 메이커 페스티벌 우수상
      </dt>
      <dd>
        중앙대학교 다빈치 교육원에서 주관한 다빈치 메이커 페스티벌입니다.
        공공데이터를 이용한 세상을 이롭게 만드는 서비스를 주제 서비스를 기획/개발하는 대회입니다.
        저희 팀은 워크넷 Open API를 활용하여 청년정책에 대해 잘 모르는 청년들에게 어떤 정책이 있는지 알려주고
        정책에 대해 피드백을 남길 수 있는 서비스를 기획하여 프로토타입으로 만들어 대회에 참가했습니다.
        결과로 우수상을 수상하였습니다.
      </dd>
    </dl>
  </div>
  <div class="footprint">
    <img src="/assets/img/timeline/ssafy.png">
    <dl class="details">
      <dt>
        <span class="times">2018. 12</span>
        SSAFY 입학
      </dt>
      <dd>
        삼성과 고용노동부가 주관한 삼성 청년 SW 아카데미(SSAFY)입니다.
        2018년 하반기 공채에 지원하면서 코딩테스트, 기술면접에서 알고리즘의 중요성을 느낄 수 있었습니다.
        그러던 와중에 SSAFY 공고를 보게 되었고 알고리즘 교육을 체계적으로 받을 수 있다는 생각에 지원하였습니다.
        현재 SSAFY 교육생으로 SW 개발 소양을 다지고 있습니다.
      </dd>
    </dl>
  </div>
</div>
<div class="wrapper">
  <div class="summary">
    <h1 class="sub-title">Intro</h1>
    <p class="summary-words">
      <span class="word-em">I love programming!</span>
      저는 본래 농업경제학과라는 문과출신입니다. 재학 중 IT 업종에 관심이 생기면서 컴퓨터공학과 부전공을 이수하였습니다.
      이를 통해 컴퓨터 과학 기초(OS, 컴퓨터구조, 자료구조, 알고리즘 등)와 개발에 대해 눈을 뜨게 되었습니다.
      컴퓨터공학과에서 배운 기본기를 바탕으로 웹 백엔드 개발자 취업을 노리고 있습니다.
      주로 Java / Spring을 사용하고 있으며 최근에는 Spring MVC를 활용한 Restful API 서버 만드는 법과
      배포관련 AWS, Docker에 관심을 가지고 구직과 함께 공부하고 있습니다. 
    </p>
  </div>
  <div class="summary">
    <h1 class="sub-title">Motto</h1>
    <p class="summary-words">
      <span class="word-em">재밌게! 신나게! 자신있게!</span>
      제 신조는 재밌게! 신나게! 자신있게! 입니다.<br>
      맡은 일에 책임감을 가지고 즐거운 마음으로 재밌게!<br>
      같이 일하는 동료도 함께 목표를 향해 나아갈 수 있도록 신나게!<br>
      뭐든지 할 수 있다는 마음가짐으로 자신있게!<br>
      제 능력을 200% 발휘하도록 항상 노력하고 있습니다.
    </p>
  </div>
  <div class="summary">
    <h1 class="sub-title">skills</h1>
    <p class="summary-words">
      주로 Java / Spring을 사용하고 있습니다.<br>
      Spring을 사용할 때는 <strong>Hibernate&JPA</strong>와 <strong>Security</strong>를 함께 사용하고 합니다.<br>
      또한 웹을 한다면 javascript는 꼭 알아야한다고 생각하여 javascript와 es6+를 이해하고 <strong>Node.js & Express.js</strong>를 사용해보았습니다.<br>
      이외에 html5, css3, Jquery, react.js, python/flask, ruby/rails를 사용해보았습니다.<br>
      자세한 사항은 다음 주소에서 확인할 수 있습니다.<br>
      <a class="word-link" href="category/skills">상세 기술 사항 보러가기</a>
    </p>
  </div>
  <div class="summary">
    <h1 class="sub-title">Contact Me</h1>
    <ul class="icons">
      <li class="icon"><i class="far fa-envelope"></i> chorizzori_@naver.com</li>
      <li class="icon"><i class="fab fa-google"></i> pkch9377@gmail.com</li>
      <li class="icon"><i class="fab fa-github"></i> <a href="https://github.com/pkch93">https://github.com/pkch93</a></li>
    </ul>
  </div>
</div>
